# Auto detect text files and perform LF normalization
* text=auto
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# git config diff.nodiff.command /usr/bin/true or /bin/true
*RcppExports* diff=nodiff
*.Rd diff=nodiff
# git config then has 'merge.theirs.driver true'
# *RcppExports* merge=theirs
# *.Rd merge=theirs

