[diff "png"]
    textconv = identify -quiet -format "%#"
[diff "pdf"]
    # or consider pdftotext
    textconv = identify -quiet -format "%#"
[diff "nodiff"]
    command = /bin/true

[filter "rprojcruft"]
	clean = sed -e '/^Package/d'
