# Auto detect text files and perform LF normalization
* text=auto
data/* binary
src/* text=lf
R/* text=lf
tools/* text=lf
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# WIP: but do outside of repository gitattributes
# need to run:
# git config --local include.path ../.gitconfig
# for local PNG/PDF friendly diffing to work
*.png diff=png
*.pdf diff=pdf

## after my bug report, I think Rcpp is now more deterministic
## git config diff.nodiff.command /usr/bin/true or /bin/true
# *RcppExports* diff=nodiff
# *.Rd diff=nodiff
## git config then has 'merge.theirs.driver true'
# *RcppExports* merge=theirs
# *.Rd merge=theirs

icd.Rproj filter=rprojcruft

/NEWS.md merge=union
