.Rproj.user
.Rhistory
.RData
.Rprofile
Rprof.out
*.swp
*.o
*.so
*.dll
todo
i9test.RData
.cproject
.project
src-i386
src-x64
.settings
.DS_Store
autom4te.cache
config.log
config.status
aclocal.m4
configure.scan
autoscan.log
inst/extdata/Dtab10.RTF
inst/extdata/all-covariates.xls
