aclocal.m4
autom4te.cache
autoscan.log
callgrind.*
config.log
config.status
configure.scan
.cproject
*.dll
.DS_Store
.externalToolBuilders
i9test.RData
icd9_*.tar.gz
inst/extdata/all-covariates.xls
inst/extdata/Dtab10.RTF
*.o
.project
.RData
.Rhistory
.Rprofile
Rprof.out
rprof.out
.Rproj.user
.settings
*.so
src-i386
src-x64
*.swp
todo
tools/r-devel-ubsan*/build_install_check_in_docker.sh
