language: r

sudo: required

warnings_are_errors: false

env: R_CHECK_CRAN_INCOMING_=FALSE

r_github_packages:
 - jimhester/covr
 - hadley/testthat

after_success:
 - Rscript -e 'devtools::install()'
 - Rscript -e 'devtools::session_info()'
 - env: COVR=true
 - Rscript -e 'library(covr); coveralls(exclusions = list("R/RcppExports.R", "src/RcppExports.cpp", "R/benchmark.R", quiet = FALSE)'
