# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  ps: Bootstrap

# Adapt as necessary starting from here

# Jack: build on x86 and x64 (had a CRAN failure on 32 bit Windows...)
platform:
  - x86
  - x64
#  - Any CPU

build_script:
  - travis-tool.sh github_package r-lib/covr
  - travis-tool.sh install_deps
  - Rscript -e "Rcpp::compileAttributes()"

environment:
  global:
    WARNINGS_ARE_ERRORS: 0
    ICD_SLOW_TESTS: "true"
  matrix:
    - R_VERSION: release

    - R_VERSION: devel
      R_ARCH: x64

on_success:
  - Rscript -e 'ICD_SLOW_TESTS=true covr::codecov(quiet = FALSE)'

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits

notifications:
 - provider: Email
   to:
     - appveyor@jackwasey.com
#   subject: 'r-appveyor build {{status}}'                  # optional
#   message: "https://ci.appveyor.com/project/krlmlr/r-appveyor"    # optional
   on_build_success: false
   on_build_failure: true
   on_build_status_changed: true
