~$Dtab12.rtf
NA
CMS28_DESC_LONG_DX.txt
CMS28_DESC_SHORT_DX.txt
CMS29_DESC_LONG_DX.101111.txt
CMS29_DESC_SHORT_DX.txt
CMS30_DESC_LONG_DX 080612.txt
CMS30_DESC_SHORT_DX.txt
CMS31_DESC_LONG_DX.txt
CMS31_DESC_SHORT_DX.txt
I9DX_DESC.txt
I9diagnosesV25.txt
I9diagnosis.txt
V26 I-9 Diagnosis.txt
V27LONG_SHORT_DX_110909.csv
V27LONG_SHORT_DX_110909u021012.csv
CMS30_DESC_LONG_DX.080612.txt
V26.I.9.Diagnosis.txt
