Pathology_Office2007.laccdb
~$Dtab12.rtf
Dtab10.RTF
all-covariates.xls
allvalid2011%20%28detailed%20titles%20headings%29.txt
allvalid2011%20(detailed%20titles%20headings).txt
icd10.txt
icd10cdc.txt
Tabular.xml
.~lock.Dtab12.rtf#
ccs_dx_icd10cm_2018_1.csv
pc_icd10pcs_2018.csv
icd10*_order_201*.txt
icd10cm_codes_2016.txt
Pathology_Office2007.accdb
VTINP13.TXT
