*.out
*.aux
*cache*
*.tex
*.synctex.gz
*.log
.build.timestamp
*.R
*.html
*.fdb_latexmk
*.fls
*.pdf
*.knit.md
*.utf8.md
test*.Rmd
test2
Efficient_calculation_of_comorbidities_from_medical_codes.bbl
Efficient_calculation_of_comorbidities_from_medical_codes.dvi
