*.R
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.html
*.knit.md
*.log
*.out
*.pdf
!efficiency-prebuilt.pdf
!country-lang-vers-prebuilt.pdf
*.synctex.gz
*.tex
*.utf8.md
*_files/
*cache*
.build.timestamp
icd.bib
test*.Rmd
test2
efficiency*_files/*
country-lang-vers*_files/*
figure/
efficiency-prebuilt
