!country-lang-vers-prebuilt.pdf
!efficiency-prebuilt.pdf
*.R
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.html
*.knit.md
*.log
*.out
*.pdf
*.synctex.gz
*.tex
*.utf8.md
*_files/
*cache*
.build.timestamp
country-lang-vers*_files/*
efficiency*_files/*
icd.bib
test*.Rmd
test2
