#BasedOnStyle: LLVM
## See https://clang.llvm.org/docs/ClangFormatStyleOptions.html
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
ColumnLimit: 100
CommentPragmas: ^'
ContinuationIndentWidth: 2
#IndentPPDirectives: AfterHash
IndentWidth: 2
PenaltyBreakBeforeFirstCallParameter: 100000
# if pointer alignment is Right, then Rcpp (has been) confused by const char *x
PointerAlignment: Left
ReflowComments: true
Standard: Cpp11
TabWidth: 2
UseTab: false
