HeaderFilterRegex:  '.*'
## list out the problematic ones for system headers
#Checks: 'modernize-*,openmp-*,performance-*,readability-*,bugprone-*,clang-diagnostic-*,clang-analyzer-*,-clang-analyzer-unix.Malloc,-clang-analyzer-optin.portability.UnixAPI'
#Checks: 'modernize-*,openmp-*,performance-*,readability-*,bugprone-*,clang-diagnostic-*,clang-analyzer-*'
Checks: 'openmp-*'
#Checks: 'performance-*'
#Checks: 'readability-*'
#Checks: 'bugprone-*'
#Checks: 'clang-diagnostic-*'
#Checks: 'clang-analyzer-*'
